<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/sandesh.thapa.319931/" ><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/sandesh_xettri0/?__pwa=1"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sandesh-thapa-8a6959356"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="#">privacy</a>
            <a href="#">Terms</a>
        </div>
       <p class="heart-footer">Made with <span class="heart"> &nbsp;&hearts;</span></p>
    </div>
</footer>